<% if object.errors.present? %>
  <style>
      div.field_with_errors {
          display: inline;
      }
  </style>
  <b>Errors:</b><br>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
