<li>
  <%= question_text(question) %>

  <% unless question.text.include?("</pre>") %>
    <br>
  <% end %>

  <%= link_to 'Show', question %>
  |
  <%= link_to 'Edit', edit_question_path(question) %>
  |
  <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>

  <br><br>
</li>
