<%= render template: 'tests/show' %>
<hr>

<h1><%= question_header(@question) %></h1>

<%= render 'form', model: [@test, @question], method: :post, type: :new %>

<%= link_to 'Back', test_questions_path(@test) %>
