<% if object.errors.present? %>
  <b><%= t('.header', count: object.errors.count) %>:</b>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
