<small>
  © <%= current_year %> Evgeni Rovneiko<br>
  <%= github_url('TestGuru', 'erovneiko', 'thinknetica-testguru') %>
  - Application for editing and passing tests and exams<br>
  Study project in online school <a href="http://thinknetica.com">Thinknetica</a>
</small>
