<hr style="margin-top: 15px">
<span style="font-size: small">
  © <%= current_year %> Евгений Ровнейко<br>
  <%= github_url('TestGuru', 'erovneiko', 'thinknetica-testguru') %>
  - Приложение для редактирования и проведения тестов и экзаменов<br>
  Учебный проект в онлайн-школе <a href="http://thinknetica.com">Thinknetica</a>
</span>
