<br><br><hr>
<span style="font-size: small">
  © 2020 Evgeni Rovneiko<br>
  <a href="https://github.com/erovneiko/thinknetica-testguru">TestGuru</a>
  - Приложение для редактирования и проведения различных тестов и экзаменов<br>
  Учебный проект в онлайн-школе <a href="http://thinknetica.com">Thinknetica</a>
</span>
