<li>
  <%= question_text(question) %>

  <% unless question.text.include?("</pre>") %>
    <br>
  <% end %>

  <%= link_to t('helpers.links.show'), admin_question_path(question) %>
  |
  <%= link_to t('helpers.links.edit'), edit_admin_question_path(question) %>
  |
  <%= link_to t('helpers.links.delete'), admin_question_path(question),
              method: :delete, data: { confirm: t('helpers.links.confirm') } %>

  <br><br>
</li>
