<%= render template: 'tests/show' %>
<hr>

<h2>Questions</h2>

<ol>
  <%= render @questions %>
</ol>

<%= link_to 'Back', admin_tests_path %>
|
<%= link_to 'New', new_admin_test_question_path(@test) %>
