<div class="test-header">
  <%= render template: 'tests/show' %>
</div>

<div class="m-3">
  <h3><%= question_header(@question) %></h3>

  <%= render 'form', model: [:admin, @test, @question] %>

  <%= link_to t('helpers.links.back'), admin_test_questions_path(@test) %>
</div>
