<%= render template: 'tests/show' %>
<hr>

<h1><%= question_header(@question) %></h1>

<%= render 'form', model: [:admin, @test, @question] %>

<%= link_to t('helpers.links.back'), admin_test_questions_path(@test) %>
