table.awards {
  td {
    text-align: center;
    vertical-align: top;
  }
  div.separator {
    width: 40px;
  }
  td.free_space {
    width: 100%;
  }
  td.name {
    padding-bottom: 20px;
  }
  td.image {
    padding: 0 30px;
  }
}
