// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
td.test.label {
  font-weight: bold;
  padding-left: 0;
  padding-right: 20px;
}

th.test.first_col,
td.test.first_col {
  padding-left: 0;
}
