<h1><%= t('.header') %></h1>

<%= render 'form' %>

<%= link_to t('helpers.links.back'), admin_tests_path %>
|
<%= link_to t('helpers.links.delete'), admin_test_path(@test),
            method: :delete, data: { confirm: t('helpers.links.confirm') } %>
