<div class="m-3">
  <h3><%= t('.header') %></h3>

  <%= render 'form' %>

  <%= link_to t('helpers.links.back'), admin_tests_path, class: 'mr-3' %>
  <%= link_to t('helpers.links.delete'), admin_test_path(@test), class: 'mr-3',
              method: :delete, data: { confirm: t('helpers.links.confirm') } %>
</div>
