<table>
  <tr>
    <th class="test first_col">Title</th>
    <th style="text-align: center">Num</th>
    <th style="text-align: center">Level</th>
  </tr>
  <%= render @tests %>
</table>

<br>
<%= link_to 'New', new_admin_test_path %>
