<tr>
  <td><%= link_to test.title, test_questions_path(test) %></td>
  <td style="text-align: center"><%= test.questions.count %></td>
  <td style="text-align: center"><%= test_level(test) %></td>
  <td></td>
  <td><%= button_to 'Start', start_test_path(test) %></td>
</tr>
